{
    "arrowParens": "always",
    "bracketSameLine": false,
    "bracketSpacing": true,
    "plugins": [
        "prettier-plugin-organize-imports",
        "prettier-plugin-tailwindcss"
    ],
    "printWidth": 80,
    "semi": true,
    "singleAttributePerLine": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "es5"
}