<div class="flex flex-col h-full">
    <div
        mat-dialog-content
        class="flex flex-auto h-full overflow-y-auto"
        cdkScrollable
    >
        <!-- grid -->
        <au-grid
            [activatedColumnFilters]="data.activatedColumnFilters"
            [columnsConfig]="columnsConfig"
            [data]="gridData"
            [id]="gridId"
            [originColumnsConfig]="data.originColumnsConfig"
            [selectedRows]="selectedRows"
            (action)="action.emit($event)"
            (columnFiltersChange)="columnFiltersChange.emit($event)"
            (columnsConfigChange)="columnsConfigChange.emit($event)"
            (rowsSelectionChange)="rowsSelectionChange.emit($event)"
            (stateChange)="stateChange.emit($event)"
        >
            <!-- <ng-template
                auGridCustomHeaderTemplate
                position="left"
            >
                <div class="flex items-center mat-dialog-title">
                    <mat-icon class="mr-4">list</mat-icon>
                    <span>{{ data.title }}</span>
                </div>
            </ng-template> -->

            <!-- proxy to pass GridCustomHeaderTemplateDirective -->
            <ng-container *ngFor="let gridCustomHeaderTemplate of data.gridCustomHeadersTemplate">
                <ng-template
                    auGridCustomHeaderTemplate
                    [position]="gridCustomHeaderTemplate.position"
                >
                    <ng-container *ngTemplateOutlet="gridCustomHeaderTemplate.templateRef">
                    </ng-container>
                </ng-template>
            </ng-container>

            <ng-template
                auGridCustomHeaderTemplate
                position="right"
            >
                <button
                    mat-icon-button
                    class="mr-2"
                    [disableRipple]="true"
                    [mat-dialog-close]="undefined"
                >
                    <mat-icon>close</mat-icon>
                </button>
            </ng-template>

            <!-- proxy to pass GridCellValueTemplateDirective -->
            <ng-container *ngFor="let gridCellValueTemplate of data.gridCellValuesTemplate">
                <ng-template
                    auGridCellValueTemplate
                    let-value
                    let-columnConfig="columnConfig"
                    let-row="row"
                    [field]="gridCellValueTemplate.field"
                >
                    <ng-container *ngTemplateOutlet="gridCellValueTemplate.templateRef; context: { $implicit: value, columnConfig, row }">
                    </ng-container>
                </ng-template>
            </ng-container>

        </au-grid>
        <!-- / grid -->
    </div>
</div>