<div class="flex flex-col w-full" *transloco="let t">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">

        <div class="flex-1 min-w-0">
            <au-breadcrumb [data]="breadcrumb"></au-breadcrumb>
            <au-title><mat-icon svgIcon="heroicons_solid:tag" class="icon-size-10 mr-2"></mat-icon> \{{ t('{{ toCamelCase schema.boundedContextName }}.{{ toPascalCase schema.moduleName }}') }}</au-title>
        </div>

        <!-- Actions -->
        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <button class="ml-3"
                    type="submit"
                    form="formDetail"
                    mat-flat-button
                    [disabled]="fg.pristine"
                    [color]="'accent'"
                    *ngIf="currentActionId === 'edit'">
                <mat-icon class="icon-size-5 mr-2" [svgIcon]="'heroicons_solid:pencil-alt'"></mat-icon>
                \{{ t('Update') }}
            </button>
            <button class="ml-3"
                    type="submit"
                    form="formDetail"
                    mat-flat-button
                    [disabled]="fg.pristine"
                    [color]="'accent'"
                    *ngIf="currentActionId === 'new'">
                <mat-icon class="icon-size-5 mr-2" [svgIcon]="'heroicons_solid:save'"></mat-icon>
                \{{ t('Create') }}
            </button>
        </div>
        <!-- / Actions -->

    </div>
    <!-- / Header -->

    <!-- Main -->
    <div class="flex flex-auto pt-6 px-6 sm:pt-10 sm:px-10 overflow-y-auto" cdkScrollable>

        <div class="form-card">

            <form   id="formDetail"
                    novalidate
                    [formGroup]="fg"
                    (ngSubmit)="onSubmit()">

                <div class="layout__container">

                    {{#each schema.properties.formDetailFields}}
                    {{#if (allowProperty ../schema.moduleName this) }}
                    {{#eq type 'varchar'}}
                    {{> varcharInput schema=../schema property=.}}

                    {{/eq}}
                    {{#eq type 'text'}}
                    {{> textInput schema=../schema property=.}}

                    {{/eq}}
                    {{#eq type 'char'}}
                    {{> charInput schema=../schema property=.}}

                    {{/eq}}
                    {{#eq type 'tinyint.unsigned'}}
                    {{> intInput schema=../schema property=.}}

                    {{/eq}}
                    {{#eq type 'smallint.unsigned'}}
                    {{> intInput schema=../schema property=.}}

                    {{/eq}}
                    {{#eq type 'enum'}}
                    {{> enumInput schema=../schema property=.}}

                    {{/eq}}
                    {{#eq type 'boolean'}}
                    {{> booleanInput schema=../schema property=.}}

                    {{/eq}}
                    {{#eq type 'int.unsigned'}}
                    {{> intInput schema=../schema property=.}}

                    {{/eq}}
                    {{#eq type 'timestamp'}}
                    <mat-form-field appearance="fill">
                        <mat-label>Choose a date</mat-label>
                        <input matInput [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>

                    {{/eq}}
                    {{/if}}
                    {{/each}}
                </div>

            </form>

        </div>

    </div>
    <!-- / Main -->

</div>
