<div class="absolute inset-0 overflow-hidden flex flex-col w-full" *transloco="let t">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-4 sm:px-10 border-b bg-card dark:bg-transparent">

        <div class="flex-1 min-w-0">
            <au-breadcrumb [data]="breadcrumb"></au-breadcrumb>
            <au-title>
                <mat-icon
                    svgIcon="heroicons_solid:tag"
                    class="icon-size-8 mr-2"
                >
                </mat-icon>
                \{{ t('{{ toCamelCase schema.boundedContextName }}.{{ toPascalCase schema.moduleName }}') }}
            </au-title>
        </div>

        <!-- Actions -->
        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            {{#if (hasI18nProperties schema.aggregateProperties) }}
            <button
                *ngIf="
                    currentViewAction.id === '{{ toCamelCase schema.boundedContextName }}::{{ toCamelCase schema.moduleName }}.detail.edit' &&
                    currentLang.id !== fallbackLang.id
                "
                mat-flat-button
                type="button"
                class="ml-3"
                color="warn"
                [disabled]="'{{ toCamelCase schema.boundedContextName }}::{{ toCamelCase schema.moduleName }}.detail.delete' | getSpinnerFlag | async"
                (click)="
                    actionService.action({
                        id          : '{{ toCamelCase schema.boundedContextName }}::{{ toCamelCase schema.moduleName }}.detail.delete',
                        isViewAction: false
                    })
                "
            >
                <mat-icon
                    *ngIf="!('{{ toCamelCase schema.boundedContextName }}::{{ toCamelCase schema.moduleName }}.detail.delete' | getSpinnerFlag | async)"
                    class="icon-size-5 mr-2"
                >
                    delete
                </mat-icon>
                <mat-icon *ngIf="'{{ toCamelCase schema.boundedContextName }}::{{ toCamelCase schema.moduleName }}.detail.delete' | getSpinnerFlag | async">
                    <mat-spinner diameter="20"></mat-spinner>
                </mat-icon>
                \{{ t('DeleteTranslation') }}
            </button>
            {{/if}}
            <button
                *ngIf="currentViewAction.id === '{{ toCamelCase schema.boundedContextName }}::{{ toCamelCase schema.moduleName }}.detail.edit'"
                mat-flat-button
                type="submit"
                class="ml-3"
                form="{{ toCamelCase schema.boundedContextName }}{{ toPascalCase schema.moduleName }}FormDetail"
                color="accent"
                [disabled]="fg.pristine || ('{{ toCamelCase schema.boundedContextName }}::{{ toCamelCase schema.moduleName }}.detail.update' | getSpinnerFlag | async)"
            >
                <mat-icon
                    *ngIf="!('{{ toCamelCase schema.boundedContextName }}::{{ toCamelCase schema.moduleName }}.detail.update' | getSpinnerFlag | async)"
                    svgIcon="mat_solid:edit"
                    class="icon-size-5 mr-2"
                >
                </mat-icon>
                <mat-icon *ngIf="'{{ toCamelCase schema.boundedContextName }}::{{ toCamelCase schema.moduleName }}.detail.update' | getSpinnerFlag | async">
                    <mat-spinner diameter="20"></mat-spinner>
                </mat-icon>
                \{{ t('Update') }}
            </button>
            <button
                *ngIf="currentViewAction.id === '{{ toCamelCase schema.boundedContextName }}::{{ toCamelCase schema.moduleName }}.detail.new'"
                mat-flat-button
                type="submit"
                form="{{ toCamelCase schema.boundedContextName }}{{ toPascalCase schema.moduleName }}FormDetail"
                class="ml-3"
                color="accent"
                [disabled]="fg.pristine || ('{{ toCamelCase schema.boundedContextName }}::{{ toCamelCase schema.moduleName }}.detail.create' | getSpinnerFlag | async)"
            >
                <mat-icon
                    *ngIf="!('{{ toCamelCase schema.boundedContextName }}::{{ toCamelCase schema.moduleName }}.detail.create' | getSpinnerFlag | async)"
                    svgIcon="mat_solid:save"
                    class="icon-size-5 mr-2"
                >
                </mat-icon>
                <mat-icon *ngIf="'{{ toCamelCase schema.boundedContextName }}::{{ toCamelCase schema.moduleName }}.detail.create' | getSpinnerFlag | async">
                    <mat-spinner diameter="20"></mat-spinner>
                </mat-icon>
                \{{ t('Create') }}
            </button>
        </div>
        <!-- / Actions -->

    </div>
    <!-- / Header -->

    <!-- Main -->
    <div class="flex-auto pt-6 px-6 sm:pt-10 sm:px-10 overflow-y-auto" cdkScrollable>

        <div class="form-card">

            <form
                id="{{ toCamelCase schema.boundedContextName }}{{ toPascalCase schema.moduleName }}FormDetail"
                novalidate
                [formGroup]="fg"
                (ngSubmit)="onSubmit($event)"
            >

                <div class="layout__container">

                    {{#if (hasI18nProperties schema.aggregateProperties) }}
                    <au-flag-lang
                        appearance="outline"
                        class="col-4"
                        [label]="t('Language')"
                        [lang]="currentLang"
                    >
                    </au-flag-lang>
                    {{/if}}
                    {{#each schema.aggregateProperties.formDetailFields}}
                    {{#if (isAllowProperty ../schema.moduleName this) }}
                    {{#eq type 'varchar'}}
                    {{> varcharInput schema=../schema property=.}}

                    {{/eq}}
                    {{#eq type 'text'}}
                    {{> textInput schema=../schema property=.}}

                    {{/eq}}
                    {{#eq type 'char'}}
                    {{> charInput schema=../schema property=.}}

                    {{/eq}}
                    {{#eq type 'tinyint.unsigned'}}
                    {{> intInput schema=../schema property=.}}

                    {{/eq}}
                    {{#eq type 'smallint.unsigned'}}
                    {{> intInput schema=../schema property=.}}

                    {{/eq}}
                    {{#eq type 'enum'}}
                    {{> enumInput schema=../schema property=.}}

                    {{/eq}}
                    {{#eq type 'boolean'}}
                    {{> booleanInput schema=../schema property=.}}

                    {{/eq}}
                    {{#eq type 'int.unsigned'}}
                    {{> intInput schema=../schema property=.}}

                    {{/eq}}
                    {{#eq type 'decimal'}}
                    {{> intInput schema=../schema property=.}}

                    {{/eq}}
                    {{#eq type 'date'}}
                    {{> dateInput schema=../schema property=.}}

                    {{/eq}}
                    {{#eq type 'timestamp'}}
                    {{> timestampInput schema=../schema property=.}}

                    {{/eq}}
                    {{/if}}
                    {{#eq webComponent.type 'select'}}
                    {{> selectWebComponent schema=../schema property=.}}

                    {{/eq}}
                    {{#eq webComponent.type 'grid-select-element'}}
                    {{> gridSelectElementWebComponent schema=../schema property=.}}

                    {{/eq}}
                    {{#eq webComponent.type 'grid-elements-manager'}}
                    {{> gridElementsManagerWebComponent schema=../schema property=.}}

                    {{/eq}}
                    {{/each}}

                </div>

            </form>

        </div>

    </div>
    <!-- / Main -->

</div>
