<div matSnackBarLabel class="w-auto px-2 py-0 border-e-2 border-white/20">
    <div class="flex items-center h-full px-2">
        @if (screenCaptureService.recordingState() === 'recording')
        {
            <mat-icon
                svgIcon="mat_solid:circle"
                class="mr-2 icon-size-5 text-red-500 animate-pulse"
            >
            </mat-icon>
        }
        <p class="text-white m-0">
            {{ counterValue() }}
        </p>
    </div>
</div>
<div matSnackBarActions class="w-auto px-2 py-0">
    <button mat-button class="px-2 min-w-min" (click)="restartRecording()">
        <mat-icon
            svgIcon="mat_solid:restart_alt"
            class="mr-0 icon-size-5 text-white"
        >
        </mat-icon>
    </button>
    <button mat-button class="px-2 min-w-min" (click)="stopRecording()">
        <mat-icon
            svgIcon="mat_solid:stop"
            class="mr-0 icon-size-5 text-white"
        >
        </mat-icon>
    </button>
    @if (screenCaptureService.recordingState() === 'recording')
    {
        <button mat-button class="px-2 min-w-min" (click)="pauseRecording()">
            <mat-icon
                svgIcon="mat_solid:pause"
                class="mr-0 icon-size-5 text-white"
            >
            </mat-icon>
        </button>
    }
    @if (screenCaptureService.recordingState() === 'idle' || screenCaptureService.recordingState() === 'paused')
    {
        <button mat-button class="px-2 min-w-min" (click)="screenCaptureService.recordingState() === 'idle' ? startRecording() : resumeRecording()">
            <mat-icon
                svgIcon="mat_solid:play_arrow"
                class="mr-0 icon-size-5 text-white"
            >
            </mat-icon>
        </button>
    }
    <button mat-button matSnackBarAction class="px-2 min-w-min" (click)="discardRecording()">
        <mat-icon
            svgIcon="mat_solid:delete"
            class="mr-0 icon-size-5 text-white"
        >
        </mat-icon>
    </button>
</div>
