.mat-form-field.mat-form-field-appearance-outline[small] .mat-form-field-infix {
    padding: 0.5em 0 0.5em 0;
}
.mat-form-field.mat-form-field-appearance-outline[small] .mat-form-field-infix .mat-form-field-label-wrapper .mat-form-field-label {
    top: 1.4em
}
.mat-form-field.mat-form-field-appearance-outline[small].mat-form-field-should-float .mat-form-field-infix .mat-form-field-label-wrapper .mat-form-field-label {
    transform: translateY(-1.3em) scale(0.75);
}
.mat-form-field.mat-form-field-appearance-outline[tiny] .mat-form-field-infix {
    padding: 0.25em 0 0.5em 0;
}
.mat-form-field.mat-form-field-appearance-outline[tiny] .mat-form-field-infix .mat-form-field-label-wrapper .mat-form-field-label {
    top: 1.2em
}
.mat-form-field.mat-form-field-appearance-outline[tiny].mat-form-field-should-float .mat-form-field-infix .mat-form-field-label-wrapper .mat-form-field-label {
    transform: translateY(-1.1em) scale(0.75);
}