.disabled-main-button {
   color: #94a3b8 !important;
   background-color: rgba(148, 163, 184, 0.38) !important;
}

.mdc-button__label {
    display: inline-flex !important;
    align-items: center;
}