name: Build and Deploy Back on Google App Engine

on:
  push:
    branches:
      - 'master'
jobs:
  tests:
    name: Build and test
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Install node
      uses: actions/setup-node@v2
      with:
        node-version: '16'
    - name: Install dependencies
      run: npm install
    - name: Create .env file
      run: |
        touch .env
        echo "$DOT_ENV" > .env
      shell: bash
      env:
        DOT_ENV: ${{secrets.DOT_ENV}}
    - name: Unit testing
      run: npm run test
    - name: Acceptance testing
      run: npm run test:e2e

  deploy:
    name: GCP App Engine Deploy
    needs: tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install node
        uses: actions/setup-node@v2
        with:
          node-version: '16'
      - name: Install dependencies
        run: npm install
      - name: Create .env file
        run: |
          touch .env
          echo "$DOT_ENV" > .env
        shell: bash
        env:
          DOT_ENV: ${{secrets.DOT_ENV}}
      - name: Build project
        run: npm run build
      - name: Deploy Google App Engine
        uses: google-github-actions/deploy-appengine@main
        with:
          credentials: ${{ secrets.GCP_CREDENTIALS }}