<div class="flex flex-col h-full">
    <div
        mat-dialog-title
        class="dialog-header"
    >
		<div class="title">
			<mat-icon>filter_list</mat-icon>
			<span>{{ data.title }}</span>
		</div>

		<button
            mat-icon-button
            [disableRipple]="true"
            [mat-dialog-close]="undefined"
        >
			<mat-icon>close</mat-icon>
		</button>
	</div>
    <div mat-dialog-content class="flex flex-col my-4 h-full max-h-full">
        <div *ngIf="data.gridFormElementDetailDialogTemplate">
            <ng-container
                *ngTemplateOutlet="data.gridFormElementDetailDialogTemplate?.templateRef; context: { $implicit: dialogRef }"
            >
            </ng-container>
        </div>
    </div>
</div>