<div
    #attachmentFrame
    id="attachment-library"
    [formGroup]="form"
>
    <div
        #attachmentMask
        id="attachment-library-mask"
    >
        {{ placeholder }}
    </div>
    <div
        id="library-sortable"
        cdkDropList
        cdkDropListOrientation="horizontal"
        (cdkDropListDropped)="drop($event)"
        formArrayName="attachments"
    >
        <ng-container
            *ngFor="let attachment of files$ | async; let i=index"
        >
            <au-attachment-item
                class="col-12 col-md-6 col-lg-4 px-16"
                [formControlName]="i"
                cdkDrag

                [attachmentFamilies]="attachmentFamilies"
                (enableCrop)="onEnableCrop($event)"
                (removeItem)="onRemoveItem($event)"
                
            >
            </au-attachment-item>
        </ng-container>
    </div>
</div>
