<div class="flex flex-shrink-0 items-center">
  <button
    class="ml-3 pr-3"
    [ngClass]="{ 'rounded-r-none pr-0': hasMenu() }"
    [attr.form]="mainButtonForm()"
    [color]="color()"
    [disabled]="disabled()"
    [type]="mainButtonType()"
    [routerLink]="routerLinkMainButton()"
    mat-flat-button
    (click)="mainButtonClick.emit($event)"
  >
    <ng-container
      *ngTemplateOutlet="
        splitMainButtonContentTemplate?.templateRef;
        context: {}
      "
    ></ng-container>
  </button>
  @if (hasMenu()) {
    <button
      class="min-w-12 rounded-l-none p-0"
      [ngClass]="{ 'disabled-main-button': disabled() }"
      [color]="color()"
      [matMenuTriggerFor]="menu"
      mat-flat-button
    >
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
      >
        expand_more
      </mat-icon>
    </button>
    <mat-menu
      #menu="matMenu"
      xPosition="before"
    >
      <ng-container
        *ngTemplateOutlet="splitMenuButtonsTemplate?.templateRef; context: {}"
      ></ng-container>
    </mat-menu>
  }
</div>
