<div class="flex flex-col w-full" *transloco="let t">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">

        <div class="flex-1 min-w-0">
            <au-breadcrumb [data]="breadcrumb"></au-breadcrumb>
            <au-title><mat-icon svgIcon="mat_solid:access_time" class="icon-size-10 mr-2"></mat-icon> {{ t('kitchenSink.Dates') }}</au-title>
        </div>

        <!-- Actions -->
        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <button class="ml-3"
                    type="submit"
                    form="formDetail"
                    mat-flat-button
                    [disabled]="fg.pristine"
                    [color]="'accent'"
                >
                <mat-icon class="icon-size-5 mr-2" [svgIcon]="'heroicons_solid:save'"></mat-icon>
                {{ t('Submit') }}
            </button>
        </div>
        <!-- / Actions -->

    </div>
    <!-- / Header -->

    <!-- Main -->
    <div class="flex flex-auto pt-6 px-6 sm:pt-10 sm:px-10 overflow-y-auto" cdkScrollable>

        <div class="form-card">

            <form   id="formDetail"
                    novalidate
                    [formGroup]="fg"
                    (ngSubmit)="onSubmit()">

                <div class="layout__container">

                    <au-datepicker
                        appearance="outline"
                        formControlName="example1"
                        class="col-4"
                        required
                        [label]="t('kitchenSink.Example1')"
                        [error]="formErrors?.example1 | async"
                    >
                    </au-datepicker>

                    <au-datepicker
                        appearance="outline"
                        formControlName="example2"
                        class="col-4"
                        required
                        [label]="t('kitchenSink.Example2')"
                        [error]="formErrors?.example2 | async"
                        small
                    >
                    </au-datepicker>

                    <au-datepicker
                        appearance="outline"
                        formControlName="example3"
                        class="col-4"
                        required
                        [label]="t('kitchenSink.Example3')"
                        [error]="formErrors?.example3 | async"
                        tiny
                    >
                    </au-datepicker>

                    <mat-form-field
                        appearance="outline"
                        class="col-4"
                    >
                        <mat-label>{{ t('kitchenSink.Example4') }}</mat-label>
                        <input
                            matInput
                            formControlName="example4"
                            [matDatepicker]="dp4"
                            [auDatepicker]
                        >
                        <mat-datepicker-toggle
                            matSuffix
                            [for]="dp4"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #dp4></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field
                        appearance="outline"
                        class="col-4"
                    >
                        <mat-label>{{ t('kitchenSink.Example5') }} (With auDatepickerSqlFormat directive)</mat-label>
                        <input
                            matInput
                            [auDatepickerSqlFormat]
                            formControlName="example5"
                            [matDatepicker]="dp5"
                        >
                        <mat-datepicker-toggle
                            matSuffix
                            [for]="dp5"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #dp5></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field
                        appearance="outline"
                        class="col-start-1 col-4"
                    >
                        <mat-label>{{ t('kitchenSink.Example6') }}</mat-label>
                        <input
                            matInput
                            formControlName="example6"
                            [auDatetimepickerSqlFormat]
                            [mtxDatetimepicker]="dp6"
                        >
                        <mtx-datetimepicker-toggle
                            [for]="dp6"
                            matSuffix
                        ></mtx-datetimepicker-toggle>
                        <mtx-datetimepicker
                            #dp6
                            type="datetime"
                            mode="landscape"
                            [multiYearSelector]="false"
                            startView="month"
                            [twelvehour]="false"
                            [timeInterval]="1"
                            [touchUi]="false"
                        >
                        </mtx-datetimepicker>
                    </mat-form-field>

                    <mat-form-field
                        small
                        appearance="outline"
                        class="col-4"
                    >
                        <mat-label>{{ t('kitchenSink.Example7') }}</mat-label>
                        <input
                            matInput
                            formControlName="example7"
                            [auDatetimepickerSqlFormat]
                            [mtxDatetimepicker]="dp7"
                        >
                        <mtx-datetimepicker-toggle
                            [for]="dp7"
                            matSuffix
                        ></mtx-datetimepicker-toggle>
                        <mtx-datetimepicker
                            #dp7
                            type="datetime"
                            mode="landscape"
                            [multiYearSelector]="false"
                            startView="month"
                            [twelvehour]="false"
                            [timeInterval]="1"
                            [touchUi]="false"
                        >
                        </mtx-datetimepicker>
                    </mat-form-field>

                    <mat-form-field
                        tiny
                        appearance="outline"
                        class="col-4"
                    >
                        <mat-label>{{ t('kitchenSink.Example8') }}</mat-label>
                        <input
                            matInput
                            formControlName="example8"
                            [auDatetimepickerSqlFormat]
                            [mtxDatetimepicker]="dp8"
                        >
                        <mtx-datetimepicker-toggle
                            [for]="dp8"
                            matSuffix
                        ></mtx-datetimepicker-toggle>
                        <mtx-datetimepicker
                            #dp8
                            type="datetime"
                            mode="landscape"
                            [multiYearSelector]="false"
                            startView="month"
                            [twelvehour]="false"
                            [timeInterval]="1"
                            [touchUi]="false"
                        >
                        </mtx-datetimepicker>
                    </mat-form-field>

                </div>

            </form>

        </div>

    </div>
    <!-- / Main -->

</div>
