:host {
    display: flex;
    flex: 1;
    max-width: 100%;

    .mat-mdc-header-cell {
        color: #64748b;
        font-size: 12px;
    }

    .mat-mdc-table .mdc-data-table__row:not(.mdc-data-table__row--selected):hover {
        background: rgb(251, 251, 251) !important;
    }
}

::ng-deep {
    .mat-sort-header-content {
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        text-align: left !important;
        display: block !important;
    }
}

.mat-header-cell, .mat-footer-cell, .mat-cell {
    min-width: 80px;
    white-space: initial;
    box-sizing: border-box;
    word-wrap: initial;
    display: table-cell;
    padding: 0px 10px;
    line-break: unset;
    overflow: hidden;
    vertical-align: middle;
}

.grid-header {
    @apply relative flex flex-row justify-between items-center w-full bg-white rounded-tl-md rounded-tr-md py-2 border-b-2 border-gray-200;
}

.grid-header__button {
    @apply
    flex flex-row items-center ml-3 px-3 py-2 shadow-none rounded-md border border-gray-200 bg-gray-600 bg-opacity-5
    hover:shadow-sm hover:bg-opacity-10
    active:shadow-none
    transition-all
    ;
}

.grid-footer {
    @apply border-t-2 border-gray-200;
}