<div class="flex flex-col flex-1 overflow-hidden">
    <div class="grid-header">

        <div>
            <!-- left position custom header template -->
            <ng-container *ngFor="let gridCustomHeader of gridCustomHeadersTemplate | filterGridCustomHeaderTemplatesPositionPipe:'left'">
                <ng-container
                    *ngTemplateOutlet="gridCustomHeader.templateRef"
                ></ng-container>
            </ng-container>
        </div>

        <div>
            <!-- beforeGridButtons position custom header template -->
            <ng-container *ngFor="let gridCustomHeader of gridCustomHeadersTemplate | filterGridCustomHeaderTemplatesPositionPipe:'beforeGridButtons'">
                <ng-container
                    *ngTemplateOutlet="gridCustomHeader.templateRef"
                ></ng-container>
            </ng-container>

            <!-- search component -->
            <au-grid-search
                [debounce]="1000"
                [minLength]="5"
                (searchOpen)="handleSearchOpen()"
                (searchClose)="handleSearchClose()"
                (search)="handleSearch($event)"
                class="mr-2"
            >
            </au-grid-search>

            <!-- filter dialog -->
            <button
                *ngIf="hasFilterButton"
                mat-icon-button
                class="mr-2"
                (click)="handleFiltersDialog()"
            >
                <mat-icon
                    [matBadge]="activatedColumnFilters.length"
                    [matBadgeHidden]="activatedColumnFilters.length == 0"
                    matBadgeColor="warn"
                >
                    filter_list
                </mat-icon>
                <span class="cdk-visually-hidden">
                    Filter icon showing active filters with a value of {{ activatedColumnFilters.length }}
                </span>
            </button>

            <!-- columns configurator -->
            <button
                *ngIf="hasColumnsConfigPropertiesButton"
                mat-icon-button
                class="mr-2"
                (click)="handleColumnsConfigPropertiesDialog()"
            >
                <mat-icon
                    [matBadge]="'!'"
                    [matBadgeHidden]="columnsConfig | isOriginColumnConfig:originColumnsConfig"
                >table_chart</mat-icon>
            </button>

            <!-- right position custom header template -->
            <ng-container *ngFor="let gridCustomHeader of gridCustomHeadersTemplate | filterGridCustomHeaderTemplatesPositionPipe:'right'">
                <ng-container
                    *ngTemplateOutlet="gridCustomHeader.templateRef"
                ></ng-container>
            </ng-container>

        </div>

    </div>
    <div class="overflow-auto">
        <table
            mat-table
            matSort
            class="w-full flex-1"
            [dataSource]="data?.rows"
            cdkDropList
            [cdkDropListDisabled]="!hasDragAndDrop"
            [cdkDropListData]="data?.rows"
            (cdkDropListDropped)="rowDrop.emit($event)"
        >
            <ng-container *ngFor="let columnConfig of columnsConfig">

                <ng-container   [matColumnDef]="columnConfig.field"
                                [sticky]="columnConfig.sticky">

                    <!-- ngSwitch for grid cell -->
                    <ng-container
                        [ngSwitch]="columnConfig.type"
                        *ngIf="!columnConfig.hidden"
                    >

                        <!-- STRING -->
                        <ng-container *ngSwitchCase="columnConfigType.STRING">
                            <th
                                mat-header-cell
                                *matHeaderCellDef
                                [disabled]="!columnConfig.sort"
                                [ngClass]="columnConfig.headerClass"
                                [mat-sort-header]="columnConfig.sort"
                            >
                                {{ columnConfig.field | gridTranslate:'column':id | async }}
                            </th>
                            <td
                                mat-cell
                                *matCellDef="let row"
                                [ngClass]="columnConfig.bodyClass"
                            >
                                <!-- set value by template -->
                                <div *ngFor="let cellValueTemplate of cellValuesTemplate">
                                    <div *ngIf="(cellValuesTemplate | hasCellValueWithFieldTemplate: columnConfig) && cellValueTemplate.field === columnConfig.field">
                                        <ng-container
                                            *ngTemplateOutlet="cellValueTemplate.templateRef; context: { $implicit: row | get:columnConfig.field, columnConfig, row }"
                                        ></ng-container>
                                    </div>
                                    <div *ngIf="!(cellValuesTemplate | hasCellValueWithFieldTemplate: columnConfig) && cellValueTemplate.field === undefined">
                                        <ng-container
                                            *ngTemplateOutlet="cellValueTemplate.templateRef; context: { $implicit: row | get:columnConfig.field, columnConfig, row }"
                                        ></ng-container>
                                    </div>
                                </div>
                                <!-- set value by columns config transform -->
                                <div *ngIf="!(cellValuesTemplate | hasCellValueTemplate:columnConfig)">
                                    {{ row | get:columnConfig.field | transformDataCell:columnConfig.transform }}
                                </div>
                            </td>
                        </ng-container>

                        <!-- BOOLEAN -->
                        <ng-container *ngSwitchCase="columnConfigType.BOOLEAN">
                            <th
                                mat-header-cell
                                *matHeaderCellDef
                                [disabled]="!columnConfig.sort"
                                [ngClass]="columnConfig.headerClass"
                                [mat-sort-header]="columnConfig.sort"
                            >
                                {{ columnConfig.field | gridTranslate:'column':id | async }}
                            </th>
                            <td
                                mat-cell
                                *matCellDef="let row"
                                [ngClass]="columnConfig.bodyClass"
                            >
                                <!-- set value by template -->
                                <div *ngFor="let cellValueTemplate of cellValuesTemplate">
                                    <div *ngIf="(cellValuesTemplate | hasCellValueWithFieldTemplate: columnConfig) && cellValueTemplate.field === columnConfig.field">
                                        <ng-container
                                            *ngTemplateOutlet="cellValueTemplate.templateRef; context: { $implicit: row | get:columnConfig.field, columnConfig, row }"
                                        ></ng-container>
                                    </div>
                                    <div *ngIf="!(cellValuesTemplate | hasCellValueWithFieldTemplate: columnConfig) && cellValueTemplate.field === undefined">
                                        <ng-container
                                            *ngTemplateOutlet="cellValueTemplate.templateRef; context: { $implicit: row | get:columnConfig.field, columnConfig, row }"
                                        ></ng-container>
                                    </div>
                                </div>
                                <!-- set value by columns config transform -->
                                <div *ngIf="!(cellValuesTemplate | hasCellValueTemplate:columnConfig)">
                                    <mat-icon *ngIf="row | get:columnConfig.field">done</mat-icon>
                                </div>
                            </td>
                        </ng-container>

                        <!-- NUMBER -->
                        <ng-container *ngSwitchCase="columnConfigType.NUMBER">
                            <th
                                mat-header-cell
                                *matHeaderCellDef
                                [disabled]="!columnConfig.sort"
                                [ngClass]="columnConfig.headerClass"
                                [mat-sort-header]="columnConfig.sort"
                            >
                                {{ columnConfig.field | gridTranslate:'column':id | async }}
                            </th>
                            <td
                                mat-cell
                                *matCellDef="let row"
                                [ngClass]="columnConfig.bodyClass"
                            >
                                <!-- set value by template -->
                                <div *ngFor="let cellValueTemplate of cellValuesTemplate">
                                    <div *ngIf="(cellValuesTemplate | hasCellValueWithFieldTemplate: columnConfig) && cellValueTemplate.field === columnConfig.field">
                                        <ng-container
                                            *ngTemplateOutlet="cellValueTemplate.templateRef; context: { $implicit: row | get:columnConfig.field, columnConfig, row }"
                                        ></ng-container>
                                    </div>
                                    <div *ngIf="!(cellValuesTemplate | hasCellValueWithFieldTemplate: columnConfig) && cellValueTemplate.field === undefined">
                                        <ng-container
                                            *ngTemplateOutlet="cellValueTemplate.templateRef; context: { $implicit: row | get:columnConfig.field, columnConfig, row }"
                                        ></ng-container>
                                    </div>
                                </div>
                                <!-- set value by columns config transform -->
                                <div *ngIf="!(cellValuesTemplate | hasCellValueTemplate:columnConfig)">
                                    {{ row | get:columnConfig.field | transformDataCell:columnConfig.transform }}
                                </div>
                            </td>
                        </ng-container>

                        <!-- DATE -->
                        <ng-container *ngSwitchCase="columnConfigType.DATE">
                            <th
                                mat-header-cell
                                *matHeaderCellDef
                                [disabled]="!columnConfig.sort"
                                [ngClass]="columnConfig.headerClass"
                                [mat-sort-header]="columnConfig.sort"
                            >
                                {{ columnConfig.field | gridTranslate:'column':id | async }}
                            </th>
                            <td
                                mat-cell
                                *matCellDef="let row"
                                [ngClass]="columnConfig.bodyClass"
                            >
                                <!-- set value by template -->
                                <div *ngFor="let cellValueTemplate of cellValuesTemplate">
                                    <div *ngIf="(cellValuesTemplate | hasCellValueWithFieldTemplate: columnConfig) && cellValueTemplate.field === columnConfig.field">
                                        <ng-container
                                            *ngTemplateOutlet="cellValueTemplate.templateRef; context: { $implicit: row | get:columnConfig.field, columnConfig, row }"
                                        ></ng-container>
                                    </div>
                                    <div *ngIf="!(cellValuesTemplate | hasCellValueWithFieldTemplate: columnConfig) && cellValueTemplate.field === undefined">
                                        <ng-container
                                            *ngTemplateOutlet="cellValueTemplate.templateRef; context: { $implicit: row | get:columnConfig.field, columnConfig, row }"
                                        ></ng-container>
                                    </div>
                                </div>
                                <!-- set value by columns config transform -->
                                <div *ngIf="!(cellValuesTemplate | hasCellValueTemplate:columnConfig)">
                                    {{ row | get:columnConfig.field | transformDataCell:columnConfig.transform }}
                                </div>
                            </td>
                        </ng-container>

                        <!-- TRANSLATIONS_MENU -->
                        <ng-container *ngSwitchCase="columnConfigType.TRANSLATIONS_MENU">
                            <th
                                mat-header-cell
                                *matHeaderCellDef
                                [disabled]="!columnConfig.sort"
                                [ngClass]="columnConfig.headerClass"
                                [mat-sort-header]="columnConfig.sort"
                            >
                                {{ 'translations' | gridTranslate | async }}
                            </th>
                            <td
                                mat-cell
                                *matCellDef="let row"
                                [ngClass]="columnConfig.bodyClass"
                            >
                                <au-translations-menu
                                    [langs]="langs"
                                    [moduleUri]="moduleUri"
                                    [row]="row"
                                >
                                </au-translations-menu>
                            </td>
                        </ng-container>

                        <!-- ACTIONS -->
                        <ng-container *ngSwitchCase="columnConfigType.ACTIONS">
                            <th
                                mat-header-cell
                                *matHeaderCellDef
                                [ngClass]="columnConfig.headerClass ? columnConfig.headerClass : 'w-20 text-center'"
                            >
                                {{ columnConfig.field | gridTranslate:'column':id | async }}
                            </th>
                            <td
                                mat-cell
                                *matCellDef="let row"
                                [ngClass]="columnConfig.bodyClass ? columnConfig.bodyClass : 'w-20 text-center'"
                            >
                                <!-- print action menu if has more than one action -->
                                <ng-container *ngIf="(columnConfig.actions | getActions:row).length > 1">
                                    <button mat-icon-button [matMenuTriggerFor]="menu">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                        <ng-container *ngFor="let action of columnConfig.actions | getActions:row">
                                            <button mat-menu-item (click)="handleClickAction(action, row, $event)">
                                                <mat-icon
                                                    [svgIcon]="action.svgIcon"
                                                    [matBadgeHidden]="action.badge?.hidden"
                                                    [matBadgeColor]="action.badge?.color"
                                                    [matBadge]="action.badge?.label"
                                                >{{ action.icon }}</mat-icon>
                                                <span>{{ (action.translation ? action.translation : action.id) | gridTranslate:'action':id | async }}</span>
                                            </button>
                                        </ng-container>
                                    </mat-menu>
                                </ng-container>
                                <!-- if only have one action, print action without menu -->
                                <ng-container *ngIf="(columnConfig.actions | getActions:row).length === 1">
                                    <ng-container *ngFor="let action of columnConfig.actions | getActions:row">
                                        <button mat-icon-button (click)="handleClickAction(action, row, $event)">
                                            <mat-icon
                                                [svgIcon]="action.svgIcon"
                                                [matBadgeHidden]="action.badge?.hidden"
                                                [matBadgeColor]="action.badge?.color"
                                                [matBadge]="action.badge?.label"
                                            >
                                            {{ action.icon }}
                                            </mat-icon>
                                        </button>
                                    </ng-container>
                                </ng-container>
                            </td>
                        </ng-container>

                        <!-- CHECKBOX -->
                        <ng-container *ngSwitchCase="columnConfigType.CHECKBOX">
                            <th
                                mat-header-cell
                                *matHeaderCellDef
                                [ngClass]="columnConfig.headerClass ? columnConfig.headerClass : 'w-20 text-center'"
                            >
                                <mat-checkbox
                                    (change)="$event ? masterToggle() : null"
                                    [checked]="rowsSelection.hasValue() && isAllSelected()"
                                    [indeterminate]="isSomeSelected() && !isAllSelected()"
                                    [aria-label]="checkboxLabel()"
                                >
                                </mat-checkbox>
                            </th>
                            <td
                                mat-cell
                                *matCellDef="let row"
                                [ngClass]="columnConfig.bodyClass ? columnConfig.bodyClass : 'w-20 text-center'"
                            >
                                <mat-checkbox
                                    (click)="$event.stopPropagation()"
                                    (change)="$event ? rowsSelection.toggle(row) : null"
                                    [checked]="rowsSelection.isSelected(row)"
                                    [aria-label]="checkboxLabel(row)"
                                >
                                </mat-checkbox>
                            </td>
                        </ng-container>

                        <!-- DRAG AND DROP -->
                        <ng-container *ngSwitchCase="columnConfigType.DRAG_AND_DROP">
                            <th
                                mat-header-cell
                                *matHeaderCellDef
                                [ngClass]="columnConfig.headerClass ? columnConfig.headerClass : 'w-20 text-center'"
                            >
                                {{ columnConfig.field | gridTranslate:'column':id | async }}
                            </th>
                            <td
                                mat-cell
                                *matCellDef="let row"
                                [ngClass]="columnConfig.bodyClass ? columnConfig.bodyClass : 'w-20 text-center'"
                            >
                                <mat-icon cdkDragHandle class="cursor-move">reorder</mat-icon>
                            </td>
                        </ng-container>
                    </ng-container>
                    <!-- / ngSwitch for grid cell -->

                </ng-container>

            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr
                mat-row
                *matRowDef="let row; columns: displayedColumns;"
                cdkDrag
                [cdkDragData]="row"
            ></tr>

            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" [attr.colspan]="displayedColumns?.length">
                    {{ 'noData' | gridTranslate | async }}
                </td>
            </tr>

        </table>
    </div>

    <div *ngIf="!hasPagination" class="h-3"></div>

    <mat-paginator
        *ngIf="hasPagination"
        showFirstLastButtons
        class="rounded-b-md"
        aria-label="Select page of periodic elements"
        [length]="data.count"
        [pageSizeOptions]="[10, 20, 50, 100]"
    >
    </mat-paginator>
</div>
