<div
    class="flex min-w-0 flex-auto flex-col items-center sm:flex-row sm:justify-center md:items-start md:justify-start"
    *transloco="let t"
>
    <div
        class="w-full px-4 py-8 sm:bg-card sm:w-auto sm:rounded-2xl sm:p-12 sm:shadow md:flex md:h-full md:w-1/2 md:items-center md:justify-end md:rounded-none md:p-16 md:shadow-none"
    >
        <div class="mx-auto w-full max-w-80 sm:mx-0 sm:w-80">
            <!-- Logo -->
            <div class="w-12">
                <img src="images/logo/logo.svg" />
            </div>

            <!-- Title -->
            <div
                class="mt-8 text-4xl font-extrabold leading-tight tracking-tight"
            >
                {{ t('ResetYourPassword') }}
            </div>
            <div class="mt-0.5 font-medium">
                {{ t('iam.ResetYourPasswordDescription') }}
            </div>

            <!-- Alert -->
            @if (showAlert) {
                <fuse-alert
                    class="mt-8"
                    [appearance]="'outline'"
                    [showIcon]="false"
                    [type]="alert.type"
                    [@shake]="alert.type === 'error'"
                >
                    {{ alert.message }}
                </fuse-alert>
            }

            <!-- Reset password form -->
            <form
                novalidate
                [formGroup]="fg"
                (ngSubmit)="onSubmit($event)"
                class="mt-8"
                #resetPasswordNgForm="ngForm"
            >
                <!-- Password field -->
                <mat-form-field class="w-full">
                    <mat-label>{{ t('Password') }}</mat-label>
                    <input
                        matInput
                        [type]="showNewPassword.type"
                        formControlName="password"
                        #passwordField
                    >
                    <button
                        matSuffix
                        mat-icon-button
                        type="button"
                        [aria-label]="t('iam.Password')"
                        (click)="handleCreateNewPassword()"
                    >
                        <mat-icon>sync</mat-icon>
                    </button>
                    <mat-pass-toggle-visibility
                        #showNewPassword
                        matSuffix
                        class="ml-2"
                    >
                    </mat-pass-toggle-visibility>
                    <mat-error>{{ formErrors['password'] | async }}</mat-error>
                </mat-form-field>

                <mat-password-strength
                    #passwordStrengthComponent
                    class="inline-flex w-full mt-5"
                    [password]="passwordField.value"
                    [enableLengthRule]="true"
                    [min]="8"
                    [max]="30"
                    [enableLowerCaseLetterRule]="true"
                    [enableUpperCaseLetterRule]="true"
                    [enableDigitRule]="true"
                    [enableSpecialCharRule]="true"
                >
                </mat-password-strength>

                <!-- Password confirm field -->
                <mat-form-field class="w-full mt-3">
                    <mat-label>{{ t('Password') }} ({{ t('iam.Confirm') }})</mat-label>
                    <input
                        id="password-confirm"
                        matInput
                        [type]="showNewPassword.type"
                        formControlName="passwordConfirm"
                    >
                    <mat-error>{{ formErrors['passwordConfirm'] | async }}</mat-error>
                </mat-form-field>

                <!-- Submit button -->
                <button
                    class="fuse-mat-button-large mt-3 w-full"
                    mat-flat-button
                    [color]="'primary'"
                    [disabled]="fg.disabled"
                    type="submit"
                >
                    @if (!fg.disabled)
                    {
                        <span> {{ t('ResetYourPassword') }} </span>
                    }
                    @else
                    {
                        <mat-progress-spinner
                            [diameter]="24"
                            [mode]="'indeterminate'"
                        >
                        </mat-progress-spinner>
                    }
                </button>

                <!-- Form footer -->
                <div class="text-secondary mt-8 text-md font-medium">
                    <span>{{ t('ReturnTo') }}</span>
                    <a
                        class="ml-1 text-primary-500 hover:underline"
                        [routerLink]="['/sign-in']"
                    >
                        {{ t('SignIn') }}
                    </a>
                </div>
            </form>
        </div>
    </div>
    <div
        class="relative hidden h-full w-1/2 flex-auto items-center justify-center overflow-hidden bg-gray-800 p-16 dark:border-l md:flex lg:px-28"
    >
        <!-- Background -->
        <!-- Rings -->
        <!-- prettier-ignore -->
        <svg class="absolute inset-0 pointer-events-none"
             viewBox="0 0 960 540" width="100%" height="100%" preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
            <g class="text-gray-700 opacity-25" fill="none" stroke="currentColor" stroke-width="100">
                <circle r="234" cx="196" cy="23"></circle>
                <circle r="234" cx="790" cy="491"></circle>
            </g>
        </svg>
        <!-- Dots -->
        <!-- prettier-ignore -->
        <svg class="absolute -top-16 -right-16 text-gray-700"
             viewBox="0 0 220 192" width="220" height="192" fill="none">
            <defs>
                <pattern id="837c3e70-6c3a-44e6-8854-cc48c737b659" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                    <rect x="0" y="0" width="4" height="4" fill="currentColor"></rect>
                </pattern>
            </defs>
            <rect width="220" height="192" fill="url(#837c3e70-6c3a-44e6-8854-cc48c737b659)"></rect>
        </svg>
        <!-- Content -->
        <div class="relative z-10 w-full max-w-2xl">
            <div class="text-7xl font-bold leading-none text-gray-100">
                <div>Bienvenido a</div>
                <div>Aurora</div>
            </div>
            <div class="mt-6 text-lg leading-6 tracking-tight text-gray-400">
                Aurora es un framework de desarrollo de software agile.
            </div>
        </div>
    </div>
</div>
