{
    "arrowParens": "always",
    "attributeGroups": [
        "^(id|name)$",
        "$ANGULAR_STRUCTURAL_DIRECTIVE",
        "^app",
        "$ANGULAR_ELEMENT_REF",
        "data-testid",
        "tabindex",
        "$ALT",
        "$ARIA",
        "$ROLE",
        "$TYPE",
        "$CLASS",
        "ngClass",
        "^\\[style",
        "$ANGULAR_ANIMATION",
        "$ANGULAR_ANIMATION_INPUT",
        "^\\[attr",
        "$ANGULAR_TWO_WAY_BINDING",
        "$ANGULAR_INPUT"
    ],
    "bracketSameLine": false,
    "bracketSpacing": true,
    "plugins": [
        "prettier-plugin-organize-attributes",
        "prettier-plugin-organize-imports",
        "prettier-plugin-tailwindcss"
    ],
    "htmlWhitespaceSensitivity": "ignore",
    "printWidth": 80,
    "semi": true,
    "singleAttributePerLine": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "all",
    "proseWrap": "always"
}